<app-menu></app-menu>
<div class='component-content'>
	<div>
		<span class='component-title'>[{{title}}]</span>
	</div>
	<p *ngIf='!prli'>Loading...</p>
	<div *ngIf='prli'>
    <div class="form-group row">
      <label class='col-form-label col-sm-2' for="product">Product:</label>
      <div class='col-sm-6 select-list'>
        <select [(ngModel)]='prli.product' class='form-control' name='Product' id='prli-product'>
                <option *ngFor="let product of products" [ngValue]="product">{{product.name + " | " + product.vendor.name + " | " + product.price}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
        <label class='col-form-label col-sm-2' for="description">Quantity</label>
        <input [(ngModel)]='prli.quantity' name = 'Description' type="number" class="form-control col-sm-6" id="quantity" aria-describedby="quantityHelp" placeholder="prliQuantity">
        <small id="quantityHelp" class="form-text text-muted col-sm-2">prli Quantity</small>
    </div>
    <div class='form-group'>
      <button (click)='create()' class='btn btn-primary'>Add</button>
    </div>
  </div>
</div>