<app-menu></app-menu>
<div id='component'>
  <div id = "pagetitle">
	<span>[{{title}}]</span>
  </div>
  <p *ngIf='!product'>Loading...</p>
  <div *ngIf='product'>
    <div class='form-group row' >
      <label class='col-form-label col-sm-2' for="vendor">Vendor:</label>
      <div class=' col-sm-6'>
        <select [(ngModel)]='product.vendor' class='form-control' name='Vendor' id='vendor'>
          <option *ngFor="let vendor of vendors" [ngValue]="vendor">{{vendor.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class='col-form-label col-sm-2' for="productPartNumber">Part Number:</label>
                                                  <!-- for refers to the id of the input box -->
      <input [(ngModel)]='product.partNumber' name = 'partNumber' type="text" class="form-control col-sm-6" id="productPartNumber" aria-describedby="partNumberHelp" placeholder="partNumber">
            <!-- [(ngModel)] refers to a two-way binding  -->                                                             <!-- points to small -->
      <!-- small sits to the right of text box and gives a little description of what text box should be or could be used for errors-->
      <small id="partNumberHelp" class="form-text text-muted col-sm-2">product's Part Number</small>
    </div>
    <div class="form-group row">
      <label class='col-form-label col-sm-2' for="productName">Name:</label>
      <input [(ngModel)]='product.name' name = 'name' type="text" class="form-control col-sm-6" id="productName" aria-describedby="nameHelp" placeholder="name">
      <small id="nameHelp" class="form-text text-muted col-sm-2">product's Name</small>
    </div>
    <div class="form-group row">
      <label class='col-form-label col-sm-2' for="productPrice">Price:</label>
      <input [(ngModel)]='product.price' name = 'price' type="text" class="form-control col-sm-6" id="productPrice" aria-describedby="priceHelp" placeholder="price">
      <small id="priceHelp" class="form-text text-muted col-sm-2">product's price</small>
    </div>
    <div class="form-group row">
      <label class='col-form-label col-sm-2' for="unit">Unit:</label>
      <input [(ngModel)]='product.unit' name = 'unit' type="text" class="form-control col-sm-6" id="unit" aria-describedby="unitHelp" placeholder="unit">
      <small id="pwdHelp" class="form-text text-muted col-sm-2">product's unit</small>
    </div>
    <div class="form-group row">
      <label class='col-form-label col-sm-2' for="photoPath">PhotoPath:</label>
      <input [(ngModel)]='product.photoPath' name = 'photoPath' type="text" class="form-control col-sm-6" id="photoPath" aria-describedby="photoPathHelp" placeholder="photoPath">
      <small id="photoPathHelp" class="form-text text-muted col-sm-2">product's PhotoPath</small>
    </div>
    <div class='form-group'>
      <!-- could add cancel button later that goes back to list -->
      <button (click)='create()' class='btn btn-primary'>Create</button>
    </div>
  </div>
</div>